@import url(`https://fonts.googleapis.com/css?family=Asap:400,500,700`);

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
background-color: #24272E;
}

header {
background-color: white;
padding: 20px;
}

header > h1 {
color: #24272E;
text-align: center;
font-family: Asap, sans-serif;
}

.choices {
margin: 50px 0;
text-align: center;

.choice {
border: 4px solid white;
border-radius: 50%;
color: white;
margin: 0 20px;
padding: 10px;
display: inline-block;
transition: all 0.3s ease;

&:hover {
cursor: pointer;
background: #24272E;
}
}
}

.result {
font-size: 40px;
color: white;

&-title {
text-align: center;
font-weight: bold;
font-family: Asap, sans-serif;
}
}

.score-board {
position: relative;
margin: 20px auto;
border: 3px solid white;
border-radius: 4px;
text-align: center;
width: 400px;
color: white;
font-size: 46px;
padding: 15px 20px;
font-family: Asap, sans-serif;

&-badge {
background: #E25840;
color: white;
font-size: 14px;
padding: 2px 10px;
font-family: Asap, sans-serif;
}

&-badge-user {
position: absolute;
top: 30px;
left: -25px;
}

&-badge-computer {
position: absolute;
top: 30px;
right: -30px;
}
}

.green-glow {
border: 5px solid #4dcc7d;
box-shadow: 0 0 15px #31b43a;
}

.red-glow {
border: 5px solid #fc121b;
box-shadow: 0 0 15px #d01115;
}

.gray-glow {
border: 5px solid #f6e640;
box-shadow: 0 0 15px #F6CA25;
}

* {box-sizing: border-box;}
.railway {
max-width: 350px;
margin: 50px auto 0;
padding: 20px;
z-index: 2;
background: #FAAB1B;
font-family: 'Oswald', sans-serif;
}

.stripes-block {
position: relative;
padding: 10px 10px 15px;
margin-bottom: 20px;
background: repeating-linear-gradient(-30deg, #291810, #291810 8px, #FAAB1B 10px, #FAAB1B 14px);
}

.stripes-block:before {
content: "";
position: absolute;
left: 50%;
top: 12px;
margin-left: -6px;
width: 14px;
height: 14px;
border-radius: 50%;
background: #fffffe;
box-shadow: 0 0 0 2px #291810, 0 0 0 12px #9c8778;
}

.line {
width: 60%;
margin: 0 auto;
height: 15px;
border: 2px solid #603624;
border-radius: 3px;
background: repeating-linear-gradient(90deg, #FAAB1B, #FAAB1B 3px, #603624 3px, #603624 6px);
}

.railway h3 {
padding: 7px;
margin-bottom: 20px;
text-align: center;
line-height: 1;
text-transform: uppercase;
color: #FAAB1B;
background: #291810;
}

.form-group {
margin-bottom: 20px;
padding: 10px;
background: #291810;
}

.form-group input,
.form-group label,
.form-group textarea {
display: block;
width: 100%;
}

.form-group input {
padding: 0;
line-height: 30px;
background: #FAAB1B;
border-width: 0;
}

.form-group label {
margin-bottom: 5px;
color: #FAAB1B;
text-transform: uppercase;
font-size: 12px;
}

.submit-block {
padding: 10px 20px 20px;
background: repeating-linear-gradient(-30deg, #291810, #291810 8px, #FAAB1B 10px, #FAAB1B 14px);
text-align: center;
cursor: pointer;
}

.submit-button {
display: inline-block;
padding: 5px 10px;
background: #FAAB1B;
}

.submit-button input {
padding: 0;
background: #FAAB1B;
border-width: 0;
text-transform: uppercase;
cursor: pointer;
}

.forma {
position: absolute;
left: 0;
right: 0;
bottom: 0;
top: 0;
background-color: aqua;
opacity: 0.95;
z-index: 1;
}